<section class="card bg-secondary text-white">
    <div class="card-body">
        <h1 class="display-4">About</h1>
        <h2> This app was developed with NodeJs & MongoDb by Leandro David</h2>
        <hr class="m-4">
        <h4>Link to repo: <a class="text-white" href="https://github.com/leadavfar/notes-app">github.com/leadavfar/notes-app</a></h4>
        </p>
        <img src="/img/github.png" class="float-right" width="100px" alt="Github">
    </div>
</section>