<section class="card">
    <div class="card-body">
        <h1>about</h1>
        <p> Stephen Stevie Ray Vaughan (Dallas, Texas; 3 de octubre de 1954 - East Troy, Wisconsin; 27 de agosto de
            1990)
            fue un
            guitarrista, cantante, compositor y productor discográfico estadounidense que fusionó los géneros de blues y
            rock en
            la década de 1980. Desarrolló un sonido y estilo basado en artistas de blues como B. B. King, Albert King,
            Freddie
            King, Buddy Guy y Otis Rush.</p>
    </div>
</section>