<section class="card bg-secondary text-white">
    <div class="card-body">
        <h1 class="display-4">Notes App</h1>
        <h3>
            With this app you can:
        </h3>
        <ul>
            <li>
                <h4>Create notes.</h4>
            </li>
            <li>
                <h4>Edit notes.</h4>
            </li>
            <li>
                <h4>Delete notes.</h4>
            </li>
        </ul>
        <hr class="m-4">
        <h5> First you have to signup and login.
            No one else have acces to your notes</h5>
        </p>
        <img src="/img/logo.png" class="float-right" width="100px" alt="Logo">
        {{!--
        <hr class="m-4">
        <p>
            Stephen Stevie Ray Vaughan (Dallas, Texas; 3 de octubre de 1954 - East Troy, Wisconsin; 27 de agosto de
            1990)
            fue un
            guitarrista, cantante, compositor y productor discográfico estadounidense que fusionó los géneros de blues y
            rock en
            la década de 1980. Desarrolló un sonido y estilo basado en artistas de blues como B. B. King, Albert King,
            Freddie
            King, Buddy Guy y Otis Rush.
        </p> --}}
        {{!-- <h2><a class="text-white" href="https://github.com/leadavfar" class="btn">My Github</a></h2> --}}
    </div>
</section>